@use '@carbon/react' with (
  $use-flexbox-grid: true
);

@use '@carbon/react/scss/zone';

@use '@carbon/styles/scss/theme';
@use '@carbon/styles/scss/themes';

@use '@carbon/type';
// Include type reset
@include type.reset();

// Include default type styles, targets h1, h2, h3, etc
@include type.default-type();

// Include utility classes for type-related properties
@include type.type-classes();

:root[data-carbon-theme='g10'] {
  @include theme.theme(themes.$g10);
}

:root[data-carbon-theme='g100'] {
  @include theme.theme(themes.$g100);
}

.cds--side-nav {
  &__submenu {
    min-block-size: 2.75rem;
  }

  &__menu a.cds--side-nav__link {
    min-block-size: 2.75rem;
  }
}

.cds--g100 {
  .cds--side-nav {
    border-right: 1px solid var(--cds-border-subtle); // Light border for dark mode
  }
}


/// Remove overrides once Carbon bugs are fixed upstream.
/// Need grid option to not add page gutters at large viewports, to also use when nesting grids
/// @link https://github.com/carbon-design-system/carbon/issues/2792
@media (min-width: 42rem) {
  .cds--grid--no-gutter {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/// Padding was introduced in 10.3.0, needs an option to let grid set the viewport gutter
/// @link https://github.com/carbon-design-system/carbon/issues/3010
.cds--content {
  margin-top: 2rem !important;
  background: var(--cds-background);
}

.data-table--empty-state {
    color: var(--cds-text-primary, #161616);
    padding: 6rem 2rem;
}

.data-table--empty-state .data-table--empty-state-col {
    flex: unset;
}

.data-table--empty-state .data-table--empty-state-col .cds--tile, .data-table--empty-state .data-table--empty-state-col .data-table--message-box {
    background: none;
}

.data-table--message-box {
    color: var(--cds-text-secondary, #525252);
}

.data-table--message-icon {
    height: 80px;
    width: 80px;
}

.data-table--message-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 1rem;
    margin-top: .5rem;
    max-width: 36rem;
    min-height: 4rem;
    width: 80%;
}

.data-table--message-text {
    font-size: var(--cds-heading-03-font-size, 1.25rem);
    font-weight: var(--cds-heading-03-font-weight, 400);
    letter-spacing: var(--cds-heading-03-letter-spacing, 0);
    line-height: var(--cds-heading-03-line-height, 1.4);
}

.data-table--message-caption {
    font-size: var(--cds-body-01-font-size, 0.875rem);
    font-weight: var(--cds-body-01-font-weight, 400);
    letter-spacing: var(--cds-body-01-letter-spacing, 0.16px);
    line-height: var(--cds-body-01-line-height, 1.42857);
}

.multiline-ellipsis {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Number of lines */
  overflow: hidden;
  max-height: calc(1.2em * 3);
  line-height: 1.2em;
  word-break: break-word;
}

/* Fallback for non-webkit browsers (like Firefox) */
@supports not (-webkit-line-clamp: 3) {
  .multiline-ellipsis {
    display: block;
    overflow: hidden;
    position: relative;
    max-height: calc(1.2em * 3);
  }

  .multiline-ellipsis::after {
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
    background: white; /* Adjust for background color */
    padding-left: 5px;
  }
}
.vector-tile {
  &:hover .cds--link svg {
    opacity: 1;
    transform: translateX(4px);
    transition: 124ms cubic-bezier(0, 0, .38, .9);
    visibility: visible;
  }

  .cds--link svg {
    opacity: 0;
    transition: opacity 124ms cubic-bezier(0, 0, .38, .9), transform 124ms cubic-bezier(0, 0, .38, .9);
  }
}

.cds--side-nav {
  &__submenu,
  &__menu a.cds--side-nav__link {
    min-block-size: 2.75rem;
  }

  &__icon:not(&__submenu-chevron) {
    margin-inline-end: 0.5rem;
  }

  &__item.cds--side-nav__item--icon a.cds--side-nav__link {
    padding-inline-start: 3.5rem;
  }

  &__icon > svg:not(&__submenu-chevron) {
    inline-size: 1.15rem;
    block-size: 1.15rem;
  }
}
.page-header {

  .page-title {
    flex: 2 1 0%;
    min-width: 0;
    margin-bottom: 16px;
    min-height: 32px;
  }

  .page-action {
    display: flex;
  }
}

.sidebar-form {
  flex: 0 1 20%; /* Can shrink to 0px, but grows up to 20% */
  min-height: 0; /* Ensures proper shrinking */
  display: flex !important;
  flex-direction: column;
  height: 100%;
  padding: 0;

  .header-panel-title {
    flex: 0 1 50px; /* Can shrink to 0px, but grows up to 50px, title only desc goes in content */
    min-height: 0; /* Ensures proper shrinking */
    padding: 32px;
  }

  .header-panel-content {
    flex: 1; /* Grows to fill available space */
    overflow: auto; /* Allows scrolling if content is too large */
    padding: 32px;
  }

  .header-panel-footer {
    flex: 0 0 50px; /* Fixed height (adjust as needed) */
    background: lightgray;

    button {
      max-width: 50%;
      min-height: 4rem;
      min-width: 50%;
      position: relative;
    }
  }
}
.sidepanel-shadow{
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
